@import '../../variables.less';

.checkbox {
    --border-color: @controls-color;
    --border-width: 1px;

    @checkbox-size: 28px;
    @indent: 36px;

    display: flex;
    align-items: center;
    padding-left: @indent;
    outline: none;
    font-weight: 500;
    line-height: 1.3em;
    font-size: 16px;
    color: @text-gray;
    // Запрещаем выделение текста
    user-select: none;
    
    input {
        position: absolute;
        appearance: none;
    }
    
    &__box {
        position: absolute;
        margin-left: -@indent;
        box-sizing: border-box;
        width: @checkbox-size;
        height: @checkbox-size;
        border-width: var(--border-width);
        border-style: solid;
        border-color: var(--border-color);
        border-radius: 5px;
        
        &::after {
            @border: ~"2px solid @{controls-active-color}";
            
            content: '';
            position: absolute;
            top: 3px;
            left: 10px;
            box-sizing: border-box;
            width: 6px;
            height: 13px;
            border-right: @border;
            border-bottom: @border;
            opacity: 0;
            transform: rotate(35deg);
            transition: .2s;
        }
    }
    
    input:hover + &__box,
    input:focus + &__box,
    input:active + &__box{
        --border-color: @controls-active-color;
        --border-width: 2px;
    }

    input:checked + &__box {
        --border-color: @controls-active-color;
        --border-width: 2px;
    }
    
    input:checked:focus + &__box,
    input:checked:active + &__box,
    input:checked:hover + &__box {
        background-color: @controls-active-color;
    }
    
    input:checked + &__box::after {
        opacity: 1;
    }
    
    input:checked:focus + &__box::after,
    input:checked:active + &__box::after,
    input:checked:hover + &__box::after {
        border-color: white;
    }
    
}